<a href="https://colab.research.google.com/github/havaledar/ECON3740/blob/main/W24_ECON3740_Lab_4_Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libraries

In [ ]:
# Installing Libraries
!pip install stargazer
!pip install gdown==v4.6.3

# Importing Libraries
import pandas as pd
import numpy as np
from stargazer.stargazer import Stargazer
import gdown
import statsmodels.formula.api as smf

Collecting stargazer
  Downloading stargazer-0.0.6-py3-none-any.whl (11 kB)
Installing collected packages: stargazer
Successfully installed stargazer-0.0.6
Collecting gdown==v4.6.3
  Downloading gdown-4.6.3-py3-none-any.whl (14 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (3.13.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (2.31.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (4.66.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown==v4.6.3) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (2023.11.17)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (1.7.1)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.7.3
    Uninstalling gdown-4.7.3:
      Successfully uninstalled gdown-4.7.3
Successfully installed gdown-4.6.3

#A2

In [ ]:
url = 'https://drive.google.com/file/d/1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU/view?usp=drive_link'
output_filename = 'ceosal.dta'
gdown.download(url, output_filename, fuzzy=True ,quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU
To: /content/ceosal.dta
100%|██████████| 13.9k/13.9k [00:00<00:00, 9.96MB/s]

'ceosal.dta'

In [ ]:
ceosal = pd.read_stata('/content/ceosal (1).dta')

In [ ]:
CEOSAL = ceosal

In [ ]:
CEOSAL[CEOSAL['age'] <= 72].shape

(171, 13)

In [ ]:
CEOSAL = CEOSAL[CEOSAL['age'] <= 72]

In [ ]:
CEOSAL.shape

(171, 13)

In [ ]:
CEOSAL.describe()

,salary,age,college,grad,comten,ceoten,sales,profits,mktval,comtensq,ceotensq,profmarg,nsal
count,34.000000,34.000000,34.0,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000
mean,762.705882,43.941176,1.0,0.676471,11.705882,6.264706,1099.264648,82.647059,1993.911743,173.352941,68.088235,3.883622,762705.875
std,522.927745,3.773441,0.0,0.474858,6.117681,5.451210,1414.540039,176.127172,3996.898438,157.706264,119.569776,37.136097,522927.750
min,245.000000,33.000000,1.0,0.000000,2.000000,0.000000,65.000000,-132.000000,387.000000,4.000000,0.000000,-203.076920,245000.000
25%,399.500000,41.250000,1.0,0.000000,7.000000,2.250000,232.750000,26.250000,540.000000,49.000000,5.250000,4.287879,399500.000
50%,603.500000,44.500000,1.0,1.000000,10.500000,4.500000,549.500000,38.500000,994.000000,110.500000,20.500000,9.588663,603500.000
75%,960.000000,46.750000,1.0,1.000000,17.750000,8.750000,1175.000000,59.250000,1400.000000,315.250000,76.750000,15.364056,960000.000
max,2792.000000,49.000000,1.0,1.000000,24.000000,24.000000,6200.000000,966.000000,23200.000000,576.000000,576.000000,23.949579,2792000.000

In [ ]:
CEOSAL['age'].describe()

count    34.000000
mean     43.941176
std       3.773441
min      33.000000
25%      41.250000
50%      44.500000
75%      46.750000
max      49.000000
Name: age, dtype: float64

In [ ]:
CEOSAL['ceoten'].describe()

count    34.000000
mean      6.264706
std       5.451210
min       0.000000
25%       2.250000
50%       4.500000
75%       8.750000
max      24.000000
Name: ceoten, dtype: float64

In [ ]:
CEOSAL['salary'].describe()

count      34.000000
mean      762.705882
std       522.927745
min       245.000000
25%       399.500000
50%       603.500000
75%       960.000000
max      2792.000000
Name: salary, dtype: float64

In [ ]:
CEOSAL['ceoten'].value_counts().sort_index()

0     1
1     4
2     4
3     4
4     4
5     2
6     2
7     3
8     1
9     1
10    2
11    1
12    2
14    1
20    1
24    1
Name: ceoten, dtype: int64

In [ ]:
m1 = smf.ols('salary ~ ceoten', CEOSAL)

results = m1.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.020
Model:                            OLS   Adj. R-squared:                 -0.010
Method:                 Least Squares   F-statistic:                    0.6653
Date:                Fri, 26 Jan 2024   Prob (F-statistic):              0.421
Time:                        14:33:25   Log-Likelihood:                -260.21
No. Observations:                  34   AIC:                             524.4
Df Residuals:                      32   BIC:                             527.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    676.9421    138.497      4.888      0.000     394.832     959.052
ceoten        13.6900     16.784      0.816      0.421     -20.499      47.879
==============================================================================
Omnibus:                       25.666   Durbin-Watson:                   2.281
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.520
Skew:                           1.884   Prob(JB):                     1.30e-10
Kurtosis:                       7.234   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
CEOSAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 167
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   salary    34 non-null     Int16
 1   age       34 non-null     Int8
 2   college   34 non-null     Int8
 3   grad      34 non-null     Int8
 4   comten    34 non-null     Int8
 5   ceoten    34 non-null     Int8
 6   sales     34 non-null     Int64
 7   profits   34 non-null     Int16
 8   mktval    34 non-null     Int64
 9   comtensq  34 non-null     Int16
 10  ceotensq  34 non-null     Int16
 11  profmarg  34 non-null     Float32
 12  nsal      34 non-null     Int64
 13  newsal    34 non-null     Int16
dtypes: Float32(1), Int16(5), Int64(3), Int8(5)
memory usage: 2.2 KB

In [ ]:
# Convert the 'salary' column to a larger integer type
CEOSAL['salary'] = CEOSAL['salary'].astype('int64')

# Multiply the 'salary' column by 1000
CEOSAL['newsal'] = CEOSAL['salary'] * 1000

In [ ]:
CEOSAL

,salary,age,college,grad,comten,ceoten,sales,profits,mktval,comtensq,ceotensq,profmarg,nsal,newsal
0,1161,49,1,1,9,2,6200,966,23200,81,4,15.580646,1161000,1161000
1,600,43,1,1,10,10,283,48,1100,100,100,16.96113,600000,600000
4,497,44,1,1,8,6,351,28,387,64,36,7.977208,497000,497000
8,503,47,1,1,4,4,610,7,454,16,16,1.147541,503000,503000
15,245,44,1,1,7,7,135,24,558,49,49,17.777779,245000,245000
27,270,43,1,0,15,2,150,28,713,225,4,18.666666,270000,270000
34,474,40,1,0,18,1,2700,117,2000,324,1,4.333333,474000,474000
44,1550,47,1,1,19,3,1100,120,4900,361,9,10.909091,1550000,1550000
52,649,44,1,1,4,4,336,17,475,16,16,5.059524,649000,649000
64,526,45,1,0,8,7,2400,106,2000,64,49,4.416667,526000,526000
73,2792,40,1,0,11,11,534,35,888,121,121,6.554307,2792000,2792000
77,377,45,1,0,7,5,238,57,1200,49,25,23.949579,377000,377000
79,720,49,1,0,12,12,672,23,1400,144,144,3.422619,720000,720000
87,1248,48,1,1,21,7,3500,423,7300,441,49,12.085714,1248000,1248000
89,348,43,1,1,12,10,586,79,1400,144,100,13.481229,348000,348000
94,323,39,1,1,15,3,637,63,517,225,9,9.89011,323000,323000
97,375,46,1,1,4,4,599,20,501,16,16,3.338898,375000,375000
101,491,43,1,1,21,2,561,54,521,441,4,9.625669,491000,491000
106,989,40,1,0,18,5,439,30,582,324,25,6.833713,989000,989000
110,849,46,1,1,24,24,538,36,473,576,576,6.69145,849000,849000
115,308,45,1,1,14,14,210,39,1900,196,196,18.571428,308000,308000
116,1392,48,1,1,6,6,4800,51,1100,36,36,1.0625,1392000,1392000
121,707,46,1,1,6,1,130,26,1200,36,1,20.0,707000,707000
127,1630,39,1,1,8,8,227,27,822,64,64,11.894273,1630000,1630000
138,310,40,1,0,18,1,2400,60,1300,324,1,2.5,310000,310000
143,1091,33,1,0,9,9,181,36,1300,81,81,19.889503,1091000,1091000
146,607,38,1,1,7,3,231,38,599,49,9,16.450216,607000,607000
153,537,46,1,1,20,20,1200,17,669,400,400,1.416667,537000,537000
154,693,42,1,0,17,12,1400,206,3000,289,144,14.714286,693000,693000
158,873,41,1,1,2,2,149,21,567,4,4,14.09396,873000,873000
162,1268,47,1,0,20,4,1100,47,2500,400,16,4.272727,1268000,1268000
164,693,46,1,1,7,3,2200,44,533,49,9,2.0,693000,693000
165,369,49,1,1,4,1,65,-132,1200,16,1,-203.07692,369000,369000
167,467,49,1,1,13,0,513,49,534,169,0,9.551657,467000,467000

In [ ]:
CEOSAL = CEOSAL.convert_dtypes()

In [ ]:
CEOSAL['salary'].astype(np.integer)*1000

0      1161000
1       600000
4       497000
8       503000
15      245000
27      270000
34      474000
44     1550000
52      649000
64      526000
73     2792000
77      377000
79      720000
87     1248000
89      348000
94      323000
97      375000
101     491000
106     989000
110     849000
115     308000
116    1392000
121     707000
127    1630000
138     310000
143    1091000
146     607000
153     537000
154     693000
158     873000
162    1268000
164     693000
165     369000
167     467000
Name: salary, dtype: int64

In [ ]:
m2 = smf.ols('newsal ~ ceoten', CEOSAL)

results = m2.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 newsal   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.030
Method:                 Least Squares   F-statistic:                   0.04428
Date:                Fri, 26 Jan 2024   Prob (F-statistic):              0.835
Time:                        14:41:57   Log-Likelihood:                -380.23
No. Observations:                  34   AIC:                             764.5
Df Residuals:                      32   BIC:                             767.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3695.8616   4725.787     -0.782      0.440   -1.33e+04    5930.252
ceoten      -120.5104    572.714     -0.210      0.835   -1287.092    1046.071
==============================================================================
Omnibus:                        7.554   Durbin-Watson:                   2.149
Prob(Omnibus):                  0.023   Jarque-Bera (JB):                2.537
Skew:                           0.276   Prob(JB):                        0.281
Kurtosis:                       1.781   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
m3 = smf.ols('mktval ~ ceoten', CEOSAL)

results = m3.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 mktval   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                 -0.015
Method:                 Least Squares   F-statistic:                    0.5050
Date:                Fri, 26 Jan 2024   Prob (F-statistic):              0.482
Time:                        14:43:16   Log-Likelihood:                -329.44
No. Observations:                  34   AIC:                             662.9
Df Residuals:                      32   BIC:                             665.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2566.4532   1061.185      2.418      0.021     404.890    4728.016
ceoten       -91.3916    128.604     -0.711      0.482    -353.350     170.567
==============================================================================
Omnibus:                       67.921   Durbin-Watson:                   1.136
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              729.293
Skew:                           4.498   Prob(JB):                    4.33e-159
Kurtosis:                      23.829   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.