<a href="https://colab.research.google.com/github/havaledar/ECON3740/blob/main/W24_ECON3740_Lab_4_Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libraries

In [1]:
# Installing Libraries
!pip install stargazer
!pip install gdown==v4.6.3

# Importing Libraries
import pandas as pd
import numpy as np
from stargazer.stargazer import Stargazer
import gdown
import statsmodels.formula.api as smf

Collecting stargazer
  Downloading stargazer-0.0.6-py3-none-any.whl (11 kB)
Installing collected packages: stargazer
Successfully installed stargazer-0.0.6
Collecting gdown==v4.6.3
  Downloading gdown-4.6.3-py3-none-any.whl (14 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (3.13.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (2.31.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (4.66.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown==v4.6.3) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (2023.11.17)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (1.7.1)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.7.3
    Uninstalling gdown-4.7.3:
      Successfully uninstalled gdown-4.7.3
Successfully installed gdown-4.6.3

#A2

In [2]:
url = 'https://drive.google.com/file/d/1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU/view?usp=drive_link'
output_filename = 'ceosal.dta'
gdown.download(url, output_filename, fuzzy=True ,quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU
To: /content/ceosal.dta
100%|██████████| 13.9k/13.9k [00:00<00:00, 13.0MB/s]

'ceosal.dta'

In [8]:
CEOSAL = pd.read_stata('/content/ceosal.dta')

In [4]:
CEOSAL = ceosal

In [9]:
CEOSAL = CEOSAL[CEOSAL['age'] <= 50]

In [10]:
CEOSAL.shape

(38, 13)

In [11]:
CEOSAL.describe()

,salary,age,college,grad,comten,ceoten,sales,profits,mktval,comtensq,ceotensq,profmarg,nsal
count,38.000000,38.000000,38.0,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,3.800000e+01
mean,775.315789,44.578947,1.0,0.710526,12.263158,6.263158,1154.578979,87.184211,2012.973633,187.631579,67.736842,4.736909,7.753158e+05
std,509.808343,4.031173,0.0,0.459606,6.184917,5.411121,1380.063599,168.080395,3776.979980,162.755732,116.955913,35.253342,5.098083e+05
min,245.000000,33.000000,1.0,0.000000,2.000000,0.000000,65.000000,-132.000000,387.000000,4.000000,0.000000,-203.076920,2.450000e+05
25%,399.500000,42.250000,1.0,0.000000,7.000000,3.000000,232.750000,26.250000,560.250000,49.000000,9.000000,4.354167,3.995000e+05
50%,628.000000,45.000000,1.0,1.000000,11.500000,4.000000,573.500000,41.500000,1150.000000,132.500000,16.000000,9.325829,6.280000e+05
75%,1065.500000,47.750000,1.0,1.000000,18.000000,8.750000,1700.000000,75.000000,1975.000000,324.000000,76.750000,15.364056,1.065500e+06
max,2792.000000,50.000000,1.0,1.000000,24.000000,24.000000,6200.000000,966.000000,23200.000000,576.000000,576.000000,25.252525,2.792000e+06

In [12]:
CEOSAL['age'].describe()

count    38.000000
mean     44.578947
std       4.031173
min      33.000000
25%      42.250000
50%      45.000000
75%      47.750000
max      50.000000
Name: age, dtype: float64

In [13]:
CEOSAL['ceoten'].describe()

count    38.000000
mean      6.263158
std       5.411121
min       0.000000
25%       3.000000
50%       4.000000
75%       8.750000
max      24.000000
Name: ceoten, dtype: float64

In [14]:
CEOSAL['salary'].describe()

count      38.000000
mean      775.315789
std       509.808343
min       245.000000
25%       399.500000
50%       628.000000
75%      1065.500000
max      2792.000000
Name: salary, dtype: float64

In [15]:
CEOSAL['ceoten'].value_counts().sort_index()

0     1
1     4
2     4
3     6
4     5
5     2
6     2
7     3
8     1
9     1
10    2
11    1
12    2
14    1
15    1
20    1
24    1
Name: ceoten, dtype: int64

In [16]:
m1 = smf.ols('salary ~ ceoten', CEOSAL)

results = m1.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.031
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.144
Date:                Mon, 05 Feb 2024   Prob (F-statistic):              0.292
Time:                        19:32:08   Log-Likelihood:                -289.71
No. Observations:                  38   AIC:                             583.4
Df Residuals:                      36   BIC:                             586.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    671.7409    127.229      5.280      0.000     413.709     929.773
ceoten        16.5372     15.459      1.070      0.292     -14.815      47.889
==============================================================================
Omnibus:                       25.015   Durbin-Watson:                   2.267
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               44.275
Skew:                           1.749   Prob(JB):                     2.43e-10
Kurtosis:                       6.966   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
CEOSAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 0 to 167
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   salary    38 non-null     int16
 1   age       38 non-null     int8
 2   college   38 non-null     int8
 3   grad      38 non-null     int8
 4   comten    38 non-null     int8
 5   ceoten    38 non-null     int8
 6   sales     38 non-null     float32
 7   profits   38 non-null     int16
 8   mktval    38 non-null     float32
 9   comtensq  38 non-null     int16
 10  ceotensq  38 non-null     int16
 11  profmarg  38 non-null     float32
 12  nsal      38 non-null     float32
dtypes: float32(4), int16(4), int8(5)
memory usage: 1.4 KB

In [18]:
# Convert the 'salary' column to a larger integer type
CEOSAL['salary'] = CEOSAL['salary'].astype('int64')

# Multiply the 'salary' column by 1000
CEOSAL['newsal'] = CEOSAL['salary'] * 1000

In [19]:
CEOSAL

,salary,age,college,grad,comten,ceoten,sales,profits,mktval,comtensq,ceotensq,profmarg,nsal,newsal
0,1161,49,1,1,9,2,6200.0,966,23200.0,81,4,15.580646,1161000.0,1161000
1,600,43,1,1,10,10,283.0,48,1100.0,100,100,16.961130,600000.0,600000
4,497,44,1,1,8,6,351.0,28,387.0,64,36,7.977208,497000.0,497000
8,503,47,1,1,4,4,610.0,7,454.0,16,16,1.147541,503000.0,503000
15,245,44,1,1,7,7,135.0,24,558.0,49,49,17.777779,245000.0,245000
25,358,50,1,1,23,4,99.0,25,2300.0,529,16,25.252525,358000.0,358000
27,270,43,1,0,15,2,150.0,28,713.0,225,4,18.666666,270000.0,270000
34,474,40,1,0,18,1,2700.0,117,2000.0,324,1,4.333333,474000.0,474000
44,1550,47,1,1,19,3,1100.0,120,4900.0,361,9,10.909091,1550000.0,1550000
52,649,44,1,1,4,4,336.0,17,475.0,16,16,5.059524,649000.0,649000
64,526,45,1,0,8,7,2400.0,106,2000.0,64,49,4.416667,526000.0,526000
73,2792,40,1,0,11,11,534.0,35,888.0,121,121,6.554307,2792000.0,2792000
77,377,45,1,0,7,5,238.0,57,1200.0,49,25,23.949579,377000.0,377000
79,720,49,1,0,12,12,672.0,23,1400.0,144,144,3.422619,720000.0,720000
87,1248,48,1,1,21,7,3500.0,423,7300.0,441,49,12.085714,1248000.0,1248000
89,348,43,1,1,12,10,586.0,79,1400.0,144,100,13.481229,348000.0,348000
94,323,39,1,1,15,3,637.0,63,517.0,225,9,9.890110,323000.0,323000
97,375,46,1,1,4,4,599.0,20,501.0,16,16,3.338898,375000.0,375000
101,491,43,1,1,21,2,561.0,54,521.0,441,4,9.625669,491000.0,491000
103,729,50,1,1,15,3,2000.0,182,2600.0,225,9,9.100000,729000.0,729000
106,989,40,1,0,18,5,439.0,30,582.0,324,25,6.833713,989000.0,989000
108,1301,50,1,1,19,15,1800.0,130,1600.0,361,225,7.222222,1301000.0,1301000
110,849,46,1,1,24,24,538.0,36,473.0,576,576,6.691450,849000.0,849000
115,308,45,1,1,14,14,210.0,39,1900.0,196,196,18.571428,308000.0,308000
116,1392,48,1,1,6,6,4800.0,51,1100.0,36,36,1.062500,1392000.0,1392000
121,707,46,1,1,6,1,130.0,26,1200.0,36,1,20.000000,707000.0,707000
127,1630,39,1,1,8,8,227.0,27,822.0,64,64,11.894273,1630000.0,1630000
138,310,40,1,0,18,1,2400.0,60,1300.0,324,1,2.500000,310000.0,310000
143,1091,33,1,0,9,9,181.0,36,1300.0,81,81,19.889503,1091000.0,1091000
146,607,38,1,1,7,3,231.0,38,599.0,49,9,16.450216,607000.0,607000
152,1142,50,1,1,11,3,2600.0,166,2200.0,121,9,6.384615,1142000.0,1142000
153,537,46,1,1,20,20,1200.0,17,669.0,400,400,1.416667,537000.0,537000
154,693,42,1,0,17,12,1400.0,206,3000.0,289,144,14.714286,693000.0,693000
158,873,41,1,1,2,2,149.0,21,567.0,4,4,14.093960,873000.0,873000
162,1268,47,1,0,20,4,1100.0,47,2500.0,400,16,4.272727,1268000.0,1268000
164,693,46,1,1,7,3,2200.0,44,533.0,49,9,2.000000,693000.0,693000
165,369,49,1,1,4,1,65.0,-132,1200.0,16,1,-203.076920,369000.0,369000
167,467,49,1,1,13,0,513.0,49,534.0,169,0,9.551657,467000.0,467000

In [20]:
m2 = smf.ols('newsal ~ ceoten', CEOSAL)

results = m2.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 newsal   R-squared:                       0.031
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.144
Date:                Mon, 05 Feb 2024   Prob (F-statistic):              0.292
Time:                        19:32:08   Log-Likelihood:                -552.21
No. Observations:                  38   AIC:                             1108.
Df Residuals:                      36   BIC:                             1112.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   6.717e+05   1.27e+05      5.280      0.000    4.14e+05     9.3e+05
ceoten      1.654e+04   1.55e+04      1.070      0.292   -1.48e+04    4.79e+04
==============================================================================
Omnibus:                       25.015   Durbin-Watson:                   2.267
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               44.275
Skew:                           1.749   Prob(JB):                     2.43e-10
Kurtosis:                       6.966   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [23]:
CEOSAL['newmktval'] = CEOSAL['mktval']/1000

In [24]:
m3 = smf.ols('salary ~ newmktval', CEOSAL)

results = m3.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.045
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     1.678
Date:                Mon, 05 Feb 2024   Prob (F-statistic):              0.203
Time:                        19:33:33   Log-Likelihood:                -289.44
No. Observations:                  38   AIC:                             582.9
Df Residuals:                      36   BIC:                             586.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    717.9788     93.145      7.708      0.000     529.073     906.885
newmktval     28.4837     21.990      1.295      0.203     -16.113      73.081
==============================================================================
Omnibus:                       32.051   Durbin-Watson:                   2.255
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               77.743
Skew:                           2.080   Prob(JB):                     1.31e-17
Kurtosis:                       8.638   Cond. No.                         4.88
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.